# $Id$
importFrom(methods, new)
importFrom(methods, setRefClass)
export(loglevels,
       logfinest,
       logfiner,
       logfine,
       logdebug,
       loginfo,
       logwarn,
       logerror,
       levellog,
       basicConfig,
       getLogger,
       removeHandler,
       addHandler,
       getHandler,
       setLevel,
       writeToFile,
       writeToConsole,
       updateOptions,
       logReset
       )
S3method(updateOptions, environment)
